.DS_Store
node_modules

# env files
.env
.env.*
!.env.example

static

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

test
db.sqlite
s0afweb*
*.pb.go
front/src/proto
