@import "utils";

#wrapper {
  display: flex;
  justify-content: center;
}

.input {
  border: 1px solid var(--color-gray100);
  border-radius: rem(4);
  font-size: 1rem;
  padding: rem(6) rem(8);
  appearance: none;
}

.button {
  padding: 0.5rem 1rem;
  border: 1px solid currentColor;
  border-radius: rem(4);

  color: black;
  font-size: rem(14);

  background: transparent;

  appearance: none;

  @mixin colored-button($color) {
    color: $color;

    &:hover {
      color: var(--color-white);

      background: $color;
    }
  }

  &.skyblue {
    @include colored-button(var(--color-blue));
  }

  &.green {
    @include colored-button(var(--color-green));
  }
}
