@import '../../utils';

.container {
  position: relative;

  width: 3rem;
  height: 1.5rem;
  margin: 0 1rem;
  padding: 0;
  border: none;
  border-radius: 1.5rem;

  color: var(--color-gray300);

  background: var(--color-gray100);

  transition: background-color 0.25s;

  &.active {
    background-color: var(--color-blue);

    & .thumb {
      transform: translateX(1.5rem);
    }
  }

  &:focus, &:focus.active {
    outline: none;
  }

  & .thumb {
    position: absolute;
    top: 0.1875rem;
    left: 0.1875rem;

    width: 1.125rem;
    height: 1.125rem;
    border-radius: 1.125rem;

    background: var(--color-white);

    transition: transform 0.25s;
  }
}
